*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
  width: 800px;
  height: 400px;
  margin: 0 auto;
  background-color: orange;
  margin-top: 100px;
}